#fundo{
    background-image: url('https://i.imgur.com/VT1dFx1.png');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:fixed;
    height: 100%;
    width: 100%; 
      
}
